<div class="edflex-scorm">
    <div>{{#str}}contenttype, mod_edflex{{/str}}: {{type_formatted}}</div>
    <div>{{#str}}difficulty, mod_edflex{{/str}}: {{difficulty_formatted}}</div>
    <div>{{#str}}language, mod_edflex{{/str}}: {{language}}</div>
    <div>{{#str}}duration, mod_edflex{{/str}}: {{duration_formatted}}</div>
    {{#author}}
        <div>{{#str}}author, mod_edflex{{/str}}: {{author}}</div>
    {{/author}}
</div>
